In [ ]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt

In [ ]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
lst = list(train.columns)
for elem in lst:
    print(elem+" : "+str(train[elem].isna().sum()))

PassengerId : 0
Survived : 0
Pclass : 0
Name : 0
Sex : 0
Age : 177
SibSp : 0
Parch : 0
Ticket : 0
Fare : 0
Cabin : 687
Embarked : 2

In [ ]:
testing = train.groupby(["Sex","Pclass"]).mean()["Age"]
Female = {1:35,2:29,3:22}
Male = {1:41,2:31,3:27}
testing
filler = train[["Age","Sex","Pclass"]]
filler

#def replace(gender,pclass):

#for i in range(891):
#    if type(filler.loc[i,:]["Age"])!=type(22.0):
#        if filler.loc[i,:]["Sex"]=="female":
#            filler.loc[i,:]["Age"]=Female[filler.loc[i,:]["Pclass"]]
#        else:
#            filler.loc[i,:]["Age"]=Male[filler.loc[i,:]["Pclass"]]
#filler['Age'] = np.where( ( (df['gender'] == 'male') & (df['pet1'] == df['pet2'] ) ) | ( (df['gender'] == 'female') & (df['pet1'].isin(['cat','dog'] ) ) ), 5, 0)

#filler.loc[(filler["Age"] =="Nan" and filler["Sex"] == "female") , "Age"] = Female[1]#and  (filler["Sex"] == "female") and (filler["Pclass"] ==1)), "Age"] = Female[1]
#filler.loc[(filler["Age"].isna() ==True) and  (filler["Sex"] == "female") and (filler["Pclass"] ==2), "Age"] = Female[2]
#filler.loc[(filler["Age"].isna() ==True) and  (filler["Sex"] == "female") and (filler["Pclass"] ==3), "Age"] = Female[3]

#filler.loc[(filler["Age"].isna() ==True) and  (filler["Sex"] == "male") and (filler["Pclass"] ==1), "Age"] = Male[1]
#filler.loc[(filler["Age"].isna() ==True) and  (filler["Sex"] == "male") and (filler["Pclass"] ==2), "Age"] = Male[2]
#filler.loc[(filler["Age"].isna() ==True) and  (filler["Sex"] == "male") and (filler["Pclass"] ==3), "Age"] = Male[3]

##def f(x):
#    if x['Age'] == 'NaN' and x['Sex'] == "female" and x["Pclass"]==1:
 #       return Female[1]
    #elif x['Age'] == 'Nan' and x['Sex'] == "female" and x["Pclass"]==2:
    #    return Female[2]
    #elif x['Age'] == 'Nan' and x['Sex'] == "female" and x["Pclass"]==3:
    #    return Female[3]
    #elif x['Age'] == 'Nan' and x['Sex'] == "male" and x["Pclass"]==1:
    #    return Male[1]
    #elif x['Age'] == 'Nan' and x['Sex'] == "male" and x["Pclass"]==2:
    #    return Male[2]
    #if x['Age'] == 'Nan' and x['Sex'] == "male" and x["Pclass"]==3:
    #    return Male[3]







[df['Age'].fillna(df.groupby(['Pclass','Sex'])['Age'].transform('mean'), inplace=True) for df in [train, test]]
[df['Fare'].fillna(df.groupby(['Pclass','Sex'])['Fare'].transform('mean'), inplace=True) for df in [train, test]]



#filler['Age'] = filler.apply(f, axis=1)



#len(filler)
print(train["Age"].isna().sum())

0

In [ ]:
#feature analysis
from sklearn.preprocessing import OneHotEncoder


dfs = [train,test]
def ohe(data,column):
    #col is a strin
    """
    One-hot-encodes roof material.  New columns are of the form _NAME
    """

    encoding = OneHotEncoder()
    check = encoding.fit_transform(data[[column]]).toarray()
    newer = encoding.get_feature_names([""])
    final = pd.DataFrame(check, columns = newer, index = data.index)
    x = pd.concat([data, final],axis = 1)
    return x

def age(bins,labels,df):
    df['age'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)



bins= [0,10,20,30,40,50,60,70,80,100,110]
labels = ["_10", "_20", "_30", "_40", "_50",
          "_60", "_70", "_80", "_90","_100"]
age(bins,labels,train)
age(bins,labels,test)





for elem in dfs:
    elem['Name_Length'] = elem['Name'].apply(len)
    elem['Embarked'] = elem['Embarked'].fillna('S')
    elem["Age"] = elem['Age'].fillna(elem['Age'].median())
    elem["friends"] = elem['SibSp']+elem["Parch"]
    elem["Mr."] = elem['Name'].str.contains('Mr. ').astype(int)
    elem["Mrs."] = elem['Name'].str.contains('Mrs. ').astype(int)
    elem["Miss"] = elem['Name'].str.contains('Miss. ').astype(int)
    elem["Master"] = elem['Name'].str.contains('Master. ').astype(int)








train['boost'] = (train['Name_Length']>0).astype(int)
test['boost'] = (train['Name_Length']>0).astype(int)


train = ohe(train,"Sex")
test = ohe(test,"Sex")
test = ohe(test,"age")
train = ohe(train,"age")
test = ohe(test,"Embarked")
train = ohe(train,"Embarked")


#train = ohe(train,"Embarked")
#test = ohe(test,"Embarked")

#train["Cabin"].head(10)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
#train["Mr."] = train['Name'].str.contains('Mr. ').astype(int)
#train["Mrs."] = train['Name'].str.contains('Mrs. ')
#train["Miss"] = train['Name'].str.contains('Miss. ')
#train["Master"] = train['Name'].str.contains('Master. ')

pd.set_option('display.max_rows', 10000000)

pd.set_option('display.max_colwidth', 1000000)

train["Name"]

0                                                                 Braund, Mr. Owen Harris
1                                     Cumings, Mrs. John Bradley (Florence Briggs Thayer)
2                                                                  Heikkinen, Miss. Laina
3                                            Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                                                Allen, Mr. William Henry
5                                                                        Moran, Mr. James
6                                                                 McCarthy, Mr. Timothy J
7                                                          Palsson, Master. Gosta Leonard
8                                       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                                                     Nasser, Mrs. Nicholas (Adele Achem)
10                                                        Sandstrom, Miss. Marguerite Rut
11                                                               Bonnell, Miss. Elizabeth
12                                                         Saundercock, Mr. William Henry
13                                                            Andersson, Mr. Anders Johan
14                                                   Vestrom, Miss. Hulda Amanda Adolfina
15                                                       Hewlett, Mrs. (Mary D Kingcome)
16                                                                   Rice, Master. Eugene
17                                                           Williams, Mr. Charles Eugene
18                                Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
19                                                                Masselmani, Mrs. Fatima
20                                                                   Fynney, Mr. Joseph J
21                                                                  Beesley, Mr. Lawrence
22                                                            McGowan, Miss. Anna "Annie"
23                                                           Sloper, Mr. William Thompson
24                                                          Palsson, Miss. Torborg Danira
25                              Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
26                                                                Emir, Mr. Farred Chehab
27                                                         Fortune, Mr. Charles Alexander
28                                                          O'Dwyer, Miss. Ellen "Nellie"
29                                                                    Todoroff, Mr. Lalio
30                                                               Uruchurtu, Don. Manuel E
31                                         Spencer, Mrs. William Augustus (Marie Eugenie)
32                                                               Glynn, Miss. Mary Agatha
33                                                                  Wheadon, Mr. Edward H
34                                                                Meyer, Mr. Edgar Joseph
35                                                         Holverson, Mr. Alexander Oskar
36                                                                       Mamee, Mr. Hanna
37                                                               Cann, Mr. Ernest Charles
38                                                     Vander Planke, Miss. Augusta Maria
39                                                            Nicola-Yarred, Miss. Jamila
40                                         Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41                               Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
42                                                                    Kraeff, Mr. Theodor
43                                               Laroche, Miss. Simonne Marie Anne Andree
44                                                          Devaney, Miss. Margaret Delia
45                                                               Rogers, Mr. William John
46                                                                      Lennon, Mr. Denis
47                                                              O'Driscoll, Miss. Bridget
48                                                                    Samaan, Mr. Youssef
49                                          Arnold-Franchi, Mrs. Josef (Josefine Franchi)
50                                                             Panula, Master. Juha Niilo
51                                                           Nosworthy, Mr. Richard Cater
52                                               Harper, Mrs. Henry Sleeper (Myna Haxtun)
53                                     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
54                                                         Ostby, Mr. Engelhart Cornelius
55                                                                      Woolner, Mr. Hugh
56                                                                      Rugg, Miss. Emily
57                                                                    Novel, Mr. Mansouer
58                                                           West, Miss. Constance Mirium
59                                                     Goodwin, Master. William Frederick
60                                                                  Sirayanian, Mr. Orsen
61                                                                    Icard, Miss. Amelie
62                                                            Harris, Mr. Henry Birkhardt
63                                                                  Skoog, Master. Harald
64                                                                  Stewart, Mr. Albert A
65                                                               Moubarek, Master. Gerios
66                                                           Nye, Mrs. (Elizabeth Ramell)
67                                                               Crease, Mr. Ernest James
68                                                        Andersson, Miss. Erna Alexandra
69                                                                      Kink, Mr. Vincenz
70                                                             Jenkin, Mr. Stephen Curnow
71                                                             Goodwin, Miss. Lillian Amy
72                                                                   Hood, Mr. Ambrose Jr
73                                                            Chronopoulos, Mr. Apostolos
74                                                                          Bing, Mr. Lee
75                                                                Moen, Mr. Sigurd Hansen
76                                                                      Staneff, Mr. Ivan
77                                                               Moutal, Mr. Rahamin Haim
78                                                          Caldwell, Master. Alden Gates
79                                                               Dowdell, Miss. Elizabeth
80                                                                   Waelens, Mr. Achille
81                                                            Sheerlinck, Mr. Jan Baptist
82                                                         McDermott, Miss. Brigdet Delia
83                                                                Carrau, Mr. Francisco M
84                                                                    Ilett, Miss. Bertha
85                                Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
86                                                                 Ford, Mr. William Neal
87                                                          Slocovski, Mr. Selman Francis
88                                                             Fortune, Miss. Mabel Helen
89                                                                 Celotti, Mr. Francesco
90                                                                   Christmann, Mr. Emil
91                                                             Andreasson, Mr. Paul Edvin
92                                                            Chaffee, Mr. Herbert Fuller
93                                                                Dean, Mr. Bertram Frank
94                                                                      Coxon, Mr. Daniel
95                                                            Shorney, Mr. Charles Joseph
96                                                              Goldschmidt, Mr. George B
97                                                        Greenfield, Mr. William Bertram
98                                                   Doling, Mrs. John T (Ada Julia Bone)
99                                                                      Kantor, Mr. Sinai
100                                                               Petranec, Miss. Matilda
101                                                      Petroff, Mr. Pastcho ("Pentcho")
102                                                             White, Mr. Richard Frasar
103                                                            Johansson, Mr. Gustaf Joel
104                                                        Gustafsson, Mr. Anders Vilhelm
105                                                                 Mionoff, Mr. Stoytcho
106                                                      Salkjelsvik, Miss. Anna Kristine
107                                                                Moss, Mr. Albert Johan
108                                                                       Rekic, Mr. Tido
109                                                                   Moran, Miss. Bertha
110                                                        Porter, Mr. Walter Chamberlain
111                                                                  Zabour, Miss. Hileni
112                                                                Barton, Mr. David John
113                                                               Jussila, Miss. Katriina
114                                                                 Attalah, Miss. Malake
115                                                                 Pekoniemi, Mr. Edvard
116                                                                  Connors, Mr. Patrick
117                                                       Turpin, Mr. William John Robert
118                                                              Baxter, Mr. Quigg Edmond
119                                                     Andersson, Miss. Ellis Anna Maria
120                                                           Hickman, Mr. Stanley George
121                                                            Moore, Mr. Leonard Charles
122                                                                  Nasser, Mr. Nicholas
123                                                                   Webber, Miss. Susan
124                                                           White, Mr. Percival Wayland
125                                                          Nicola-Yarred, Master. Elias
126                                                                   McMahon, Mr. Martin
127                                                             Madsen, Mr. Fridtjof Arne
128                                                                     Peter, Miss. Anna
129                                                                    Ekstrom, Mr. Johan
130                                                                  Drazenoic, Mr. Jozef
131                                                        Coelho, Mr. Domingos Fernandeo
132                                        Robins, Mrs. Alexander A (Grace Charity Laury)
133                                         Weisz, Mrs. Leopold (Mathilde Francoise Pede)
134                                                        Sobey, Mr. Samuel James Hayden
135                                                                    Richard, Mr. Emile
136                                                          Newsom, Miss. Helen Monypeny
137                                                           Futrelle, Mr. Jacques Heath
138                                                                   Osen, Mr. Olaf Elon
139                                                                    Giglio, Mr. Victor
140                                                         Boulos, Mrs. Joseph (Sultana)
141                                                              Nysten, Miss. Anna Sofia
142                                  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
143                                                                   Burke, Mr. Jeremiah
144                                                            Andrew, Mr. Edgardo Samuel
145                                                          Nicholls, Mr. Joseph Charles
146                                          Andersson, Mr. August Edvard ("Wennerstrom")
147                                                      Ford, Miss. Robina Maggie "Ruby"
148                                              Navratil, Mr. Michel ("Louis M Hoffman")
149                                                     Byles, Rev. Thomas Roussel Davids
150                                                            Bateman, Rev. Robert James
151                                                     Pears, Mrs. Thomas (Edith Wearne)
152                                                                      Meo, Mr. Alfonzo
153                                                       van Billiard, Mr. Austin Blyler
154                                                                 Olsen, Mr. Ole Martin
155                                                           Williams, Mr. Charles Duane
156                                                      Gilnagh, Miss. Katherine "Katie"
157                                                                       Corn, Mr. Harry
158                                                                   Smiljanic, Mr. Mile
159                                                            Sage, Master. Thomas Henry
160                                                              Cribb, Mr. John Hatfield
161                                    Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
162                                                            Bengtsson, Mr. John Viktor
163                                                                       Calic, Mr. Jovo
164                                                          Panula, Master. Eino Viljami
165                                       Goldsmith, Master. Frank John William "Frankie"
166                                                Chibnall, Mrs. (Edith Martha Bowerman)
167                                       Skoog, Mrs. William (Anna Bernhardina Karlsson)
168                                                                   Baumann, Mr. John D
169                                                                         Ling, Mr. Lee
170                                                             Van der hoef, Mr. Wyckoff
171                                                                  Rice, Master. Arthur
172                                                          Johnson, Miss. Eleanor Ileen
173                                                             Sivola, Mr. Antti Wilhelm
174                                                               Smith, Mr. James Clinch
175                                                                Klasen, Mr. Klas Albin
176                                                         Lefebre, Master. Henry Forbes
177                                                            Isham, Miss. Ann Elizabeth
178                                                                    Hale, Mr. Reginald
179                                                                   Leonard, Mr. Lionel
180                                                          Sage, Miss. Constance Gladys
181                                                                      Pernot, Mr. Rene
182                                                 Asplund, Master. Clarence Gustaf Hugo
183                                                             Becker, Master. Richard F
184                                                   Kink-Heilmann, Miss. Luise Gretchen
185                                                                 Rood, Mr. Hugh Roscoe
186                                       O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
187                                         Romaine, Mr. Charles Hallace ("Mr C Rolmane")
188                                                                      Bourke, Mr. John
189                                                                   Turcin, Mr. Stjepan
190                                                                   Pinsky, Mrs. (Rosa)
191                                                                 Carbines, Mr. William
192                                       Andersen-Jensen, Miss. Carla Christine Nielsine
193                                                            Navratil, Master. Michel M
194                                             Brown, Mrs. James Joseph (Margaret Tobin)
195                                                                  Lurette, Miss. Elise
196                                                                   Mernagh, Mr. Robert
197                                                      Olsen, Mr. Karl Siegwart Andreas
198                                                      Madigan, Miss. Margaret "Maggie"
199                                                Yrois, Miss. Henriette ("Mrs Harbeck")
200                                                        Vande Walle, Mr. Nestor Cyriel
201                                                                   Sage, Mr. Frederick
202                                                            Johanson, Mr. Jakob Alfred
203                                                                  Youseff, Mr. Gerious
204                                                              Cohen, Mr. Gurshon "Gus"
205                                                            Strom, Miss. Telma Matilda
206                                                            Backstrom, Mr. Karl Alfred
207                                                           Albimona, Mr. Nassef Cassem
208                                                             Carr, Miss. Helen "Ellen"
209                                                                      Blank, Mr. Henry
210                                                                        Ali, Mr. Ahmed
211                                                            Cameron, Miss. Clear Annie
212                                                                Perkin, Mr. John Henry
213                                                           Givard, Mr. Hans Kristensen
214                                                                   Kiernan, Mr. Philip
215                                                               Newell, Miss. Madeleine
216                                                                Honkanen, Miss. Eliina
217                                                          Jacobsohn, Mr. Sidney Samuel
218                                                                 Bazzani, Miss. Albina
219                                                                    Harris, Mr. Walter
220                                                        Sunderland, Mr. Victor Francis
221                                                                  Bracken, Mr. James H

In [ ]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

train_num = train.select_dtypes(include=numerics)
test_num = test.select_dtypes(include=numerics)


y = train_num["Survived"]
X = train_num.drop(["PassengerId", "Survived"], axis=1)

test_num.head(15)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Name_Length,friends,Mr.,Mrs.,...,__20,__30,__40,__50,__60,__70,__80,_C,_Q,_S
0,892,3,34.500000,0,0,7.8292,16,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,893,3,47.000000,1,0,7.0000,32,1,0,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,894,2,62.000000,0,0,9.6875,25,0,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,895,3,27.000000,0,0,8.6625,16,0,1,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,896,3,22.000000,1,1,12.2875,44,2,0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,897,3,14.000000,0,0,9.2250,26,0,1,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,898,3,30.000000,0,0,7.6292,20,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,899,2,26.000000,1,1,29.0000,28,2,1,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,900,3,18.000000,0,0,7.2292,41,0,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,901,3,21.000000,2,0,24.1500,23,2,1,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10,902,3,24.525104,0,0,7.8958,16,0,1,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11,903,1,46.000000,0,0,26.0000,26,0,1,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
12,904,1,23.000000,1,0,82.2667,45,1,0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,905,2,63.000000,1,0,26.0000,20,1,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
14,906,1,47.000000,1,0,61.1750,55,1,0,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
y = train_num["Survived"]
#X = train_num.drop(["PassengerId", "Survived"], axis=1)
X=train[['Pclass', '_male', '_female', 'Age', 'SibSp', 'Parch', 'Fare','_C', '_S', 'Mr.','Mrs.','Master','Miss','__10', '__30','__40', '__50', '__60', '__70', '__80']]
#'Pclass', '_female', 'Mrs.', 'Miss', '__10'
#'Pclass','SibSp','Parch','Fare','Embarked','Age', _Q, _C, _S,
#'Pclass', '_female', '_male', 'Mr.', 'Mrs.', 'Miss', '_10', '_30'
#'Pclass','_female',"_male",'Mr.','Mrs.','Master','Miss','__10','__20', '__30','__40', '__50', '__60', '__70', '__80'
#'Pclass', '_male', '_female', 'Age', 'SipSp', 'Parch', 'Embarked', 'Fare', 'friends', '_Q', '_C', '_S', 'Mr.','Mrs.','Master','Miss','__10','__20', '__30','__40', '__50', '__60', '__70', '__80'
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

from sklearn.ensemble import RandomForestClassifier
#X

In [ ]:
#test_num.fillna(0,inplace =True)

In [ ]:
test_num.head(5)
#'PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Name_Length','_female', '_male'

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Name_Length,friends,Mr.,Mrs.,...,__20,__30,__40,__50,__60,__70,__80,_C,_Q,_S
0,892,3,34.5,0,0,7.8292,16,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,893,3,47.0,1,0,7.0000,32,1,0,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,894,2,62.0,0,0,9.6875,25,0,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,895,3,27.0,0,0,8.6625,16,0,1,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,896,3,22.0,1,1,12.2875,44,2,0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.ensemble import HistGradientBoostingClassifier

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

import numpy as np


clf = SVC()
clf.fit(X_train, y_train)

test_data = test_num.drop("PassengerId", axis=1).copy()
#clf.score(X_test,y_test)

param_grid = {'C': [.0001,.001,.01,0.1, 1, 10, 100, 1000],
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']}
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3)
grid.fit(X_train, y_train)
grid.score(X_test,y_test)



#preds1 = clf.predict(test_data[["Parch",'Pclass','_female',"_male",'Mr.','Mrs.','Master','Miss','__10','__20','__30', '__40','__50', '__60','__70', '__80',"_C","_Q","_S"]])
#preds1 = list(preds1)
#sum(preds1)
#accuracy_score(y_pred, y_test)

Fitting 5 folds for each of 40 candidates, totalling 200 fits
[CV 1/5] END .....C=0.0001, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END .....C=0.0001, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END .....C=0.0001, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END .....C=0.0001, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END .....C=0.0001, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ...C=0.0001, gamma=0.1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ...C=0.0001, gamma=0.1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ...C=0.0001, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ...C=0.0001, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ...C=0.0001, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ..C=0.0001, gamma=0.01, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ..C=0.0001, gamma=0.01, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ..C=0.0001, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ..C=0.0001, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ..C=0.0001, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END .C=0.0001, gamma=0.001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END .C=0.0001, gamma=0.001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END .C=0.0001, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END .C=0.0001, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END .C=0.0001, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END C=0.0001, gamma=0.0001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END C=0.0001, gamma=0.0001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END C=0.0001, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END C=0.0001, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END C=0.0001, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ......C=0.001, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ......C=0.001, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ......C=0.001, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ......C=0.001, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ......C=0.001, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ....C=0.001, gamma=0.1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ....C=0.001, gamma=0.1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ....C=0.001, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ....C=0.001, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ....C=0.001, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ...C=0.001, gamma=0.01, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ...C=0.001, gamma=0.01, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ...C=0.001, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ...C=0.001, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ...C=0.001, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ..C=0.001, gamma=0.001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ..C=0.001, gamma=0.001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ..C=0.001, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ..C=0.001, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ..C=0.001, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END .C=0.001, gamma=0.0001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END .C=0.001, gamma=0.0001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END .C=0.001, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END .C=0.001, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END .C=0.001, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END .......C=0.01, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END .......C=0.01, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END .......C=0.01, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END .......C=0.01, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END .......C=0.01, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END .....C=0.01, gamma=0.1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END .....C=0.01, gamma=0.1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END .....C=0.01, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END .....C=0.01, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END .....C=0.01, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ....C=0.01, gamma=0.01, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ....C=0.01, gamma=0.01, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ....C=0.01, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ....C=0.01, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ....C=0.01, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ...C=0.01, gamma=0.001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ...C=0.01, gamma=0.001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ...C=0.01, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ...C=0.01, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ...C=0.01, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ..C=0.01, gamma=0.0001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ..C=0.01, gamma=0.0001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ..C=0.01, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ..C=0.01, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ..C=0.01, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 5/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.618 total time=   0.0s
[CV 3/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.674 total time=   0.0s
[CV 2/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.652 total time=   0.0s
[CV 3/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 4/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.607 total time=   0.0s
[CV 5/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.618 total time=   0.0s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.618 total time=   0.0s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.618 total time=   0.0s
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.742 total time=   0.0s
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.685 total time=   0.0s
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.697 total time=   0.0s
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.674 total time=   0.0s
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.685 total time=   0.0s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.719 total time=   0.0s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.685 total time=   0.0s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.685 total time=   0.0s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.719 total time=   0.0s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.708 total time=   0.0s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.607 total time=   0.0s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.697 total time=   0.0s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.652 total time=   0.0s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.685 total time=   0.0s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.663 total time=   0.0s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.663 total time=   0.0s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.618 total time=   0.0s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.674 total time=   0.0s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.618 total time=   0.0s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.697 total time=   0.0s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.719 total time=   0.0s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.618 total time=   0.0s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.674 total time=   0.0s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.798 total time=   0.0s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.753 total time=   0.0s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.730 total time=   0.0s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.719 total time=   0.0s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.798 total time=   0.0s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.775 total time=   0.0s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.787 total time=   0.0s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.764 total time=   0.0s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.820 total time=   0.0s
[CV 1/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.674 total time=   0.0s
[CV 2/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.652 total time=   0.0s
[CV 3/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.685 total time=   0.0s
[CV 4/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.640 total time=   0.0s
[CV 5/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END ........C=100, gamma=1, kernel=rbf;, score=0.618 total time=   0.0s
[CV 2/5] END ........C=100, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 3/5] END ........C=100, gamma=1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 4/5] END ........C=100, gamma=1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 5/5] END ........C=100, gamma=1, kernel=rbf;, score=0.618 total time=   0.0s
[CV 1/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 2/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.697 total time=   0.0s
[CV 3/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.742 total time=   0.0s
[CV 4/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.618 total time=   0.0s
[CV 5/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 1/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.764 total time=   0.0s
[CV 2/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.719 total time=   0.0s
[CV 3/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.730 total time=   0.0s
[CV 4/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.708 total time=   0.0s
[CV 5/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.775 total time=   0.0s
[CV 1/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.831 total time=   0.0s
[CV 2/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.787 total time=   0.0s
[CV 3/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.798 total time=   0.0s
[CV 4/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.787 total time=   0.0s
[CV 5/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.854 total time=   0.0s
[CV 1/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.831 total time=   0.0s
[CV 2/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.764 total time=   0.0s
[CV 3/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.764 total time=   0.0s
[CV 4/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.753 total time=   0.0s
[CV 5/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.876 total time=   0.0s
[CV 1/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.607 total time=   0.0s
[CV 2/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.607 total time=   0.0s
[CV 3/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.640 total time=   0.0s
[CV 4/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 5/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.618 total time=   0.0s
[CV 1/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 2/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.663 total time=   0.0s
[CV 3/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.697 total time=   0.0s
[CV 4/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.652 total time=   0.0s
[CV 5/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.629 total time=   0.0s
[CV 1/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.708 total time=   0.0s
[CV 2/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.719 total time=   0.0s
[CV 3/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.730 total time=   0.0s
[CV 4/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.685 total time=   0.0s
[CV 5/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.764 total time=   0.0s
[CV 1/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.798 total time=   0.0s
[CV 2/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.787 total time=   0.0s
[CV 3/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.775 total time=   0.0s
[CV 4/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.775 total time=   0.0s
[CV 5/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.843 total time=   0.0s
[CV 1/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.843 total time=   0.0s
[CV 2/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.775 total time=   0.0s
[CV 3/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.820 total time=   0.0s
[CV 4/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.798 total time=   0.0s
[CV 5/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.888 total time=   0.0s

0.8183856502242153

In [ ]:
list(test_num.columns)

['PassengerId',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Name_Length',
 'friends',
 'Mr.',
 'Mrs.',
 'Miss',
 'Master',
 'boost',
 '_female',
 '_male',
 '__10',
 '__20',
 '__30',
 '__40',
 '__50',
 '__60',
 '__70',
 '__80',
 '_C',
 '_Q',
 '_S']

In [ ]:
list(train_num.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Name_Length',
 'friends',
 'Mr.',
 'Mrs.',
 'Miss',
 'Master',
 'boost',
 '_female',
 '_male',
 '__10',
 '__20',
 '__30',
 '__40',
 '__50',
 '__60',
 '__70',
 '__80',
 '__90',
 '_C',
 '_Q',
 '_S']

In [ ]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

#input and output


classifier = linear_model.LogisticRegression(max_iter=100000)
classifier_ = classifier.fit(X_train,y_train)
target_predict=classifier_.predict(X_test)
#print("Logistic Regression Score: ",accuracy_score(y_test,target_predict))
classifier.score(X_test,y_test)

preds = classifier.predict(test_data[['Pclass', '_male', '_female', 'Age', 'SibSp', 'Parch', 'Fare', '_C', '_S', 'Mr.','Mrs.','Master','Miss','__10', '__30','__40', '__50', '__60', '__70', '__80']])



#current highest score:
#'Pclass', '_male', '_female', 'Age', 'SibSp', 'Parch', 'Fare', '_C', '_S', 'Mr.','Mrs.','Master','Miss','__10', '__30','__40', '__50', '__60', '__70', '__80'





#2nd highest score:
#'Pclass', '_male', '_female', 'Age', 'SibSp', 'Parch', 'Fare', '_Q', '_C', 'Mr.','Mrs.','Master','Miss','__10','__20', '__30','__40', '__50', '__60', '__70', '__80'





#'Pclass','_female',"_male",'Parch','Mr.','Mrs.','Master','Miss','__10','__20','__40','__70','__80',"_C","_Q","_S"]
#'Pclass', '_female', '_male', 'Mr.', 'Mrs.', 'Miss', '__10', '__30'
#'Pclass','_female',"_male",'Mr.','Mrs.','Master','Miss','__10','__20', '__30','__40', '__50', '__60', '__70', '__80'

In [ ]:
preds = list(preds)
#preds
len(preds)-sum(preds)

251

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(classifier, X_test, y_test, cv=10)
np.mean(scores)

0.8116161616161616

In [ ]:
svc = SVC(probability = True)
SVCcv = cross_val_score(svc, X_train, y_train, cv = 10)
print(SVCcv.mean())

0.6562626262626263

In [ ]:
forestc = RandomForestClassifier(random_state = 42)
cross = cross_val_score(forestc, X_train, y_train, cv= 5)
print(cross.mean())

#With _S minus _Q has score 0.8179
#Without _S has score 0.8
#minus _20 and _Q has score 0.82471

0.8247191011235955

In [ ]:
rforest = RandomForestClassifier(random_state = 42)
rforest.fit(X_train, y_train)
Y_pred = rforest.predict(X_test)
rforest.score(X_train, y_train)

0.9865168539325843

In [ ]:
log = LogisticRegression(max_iter = 2000)
cv = cross_val_score(log, X_train, y_train, cv = 10)
print(cv.mean())

##minus _20 and _Q has score 0.83823

0.8382323232323232

In [ ]:
final = pd.DataFrame(test["PassengerId"])

In [ ]:
final["Survived"]=preds

In [ ]:
final.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [ ]:
len(final)

418

In [ ]:
final.to_csv('predictions.csv', index=False)

In [ ]:
test_num.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Name_Length',
       'friends', 'Mr.', 'Mrs.', 'Miss', 'Master', 'boost', '_female', '_male',
       '__10', '__20', '__30', '__40', '__50', '__60', '__70', '__80', '_C',
       '_Q', '_S'],
      dtype='object')

In [ ]:
lst = list(test_data.columns)
for elem in lst:
    print(test_num[elem].isna().sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [ ]:
test["age"].isna().sum()

0

In [ ]:
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.metrics import accuracy_score, f1_score
from sklearn.linear_model import LogisticRegression



select_feature = SelectKBest(f_classif, k=3).fit(X_train, y_train)

selected_features_df = pd.DataFrame({'Feature':list(X_train.columns),
                                     'Scores':select_feature.scores_})
selected_features_df.sort_values(by='Scores', ascending=False)



x_train_chi = select_feature.transform(X_train)
x_test_chi = select_feature.transform(X_test)


clf_lr = LogisticRegression()
lr_chi_model = clf_lr.fit(x_train_chi,y_train)

selected_features_df.sort_values("Scores",ascending=False)

    Feature      Scores
1     _male  171.232436
2   _female  171.232436
9       Mr.  169.208510
10     Mrs.   63.486813
0    Pclass   48.620330
12     Miss   42.801803
6      Fare   23.812960
7        _C   18.286725
8        _S   16.356309
13     __10    4.961749
11   Master    3.209209
5     Parch    2.775359
19     __80    2.334783
4     SibSp    1.638630
14     __30    1.549013
3       Age    1.480001
15     __40    1.424296
18     __70    1.041900
16     __50    0.410155
17     __60    0.255397

In [ ]:
final

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
30           922         0
31           923         0
32           924         1
33           925         1
34           926         1
35           927         0
36           928         1
37           929         1
38           930         0
39           931         0
40           932         0
41           933         0
42           934         0
43           935         1
44           936         1
45           937         0
46           938         0
47           939         0
48           940         1
49           941         1
50           942         0
51           943         0
52           944         1
53           945         1
54           946         0
55           947         0
56           948         0
57           949         0
58           950         0
59           951         1
60           952         0
61           953         0
62           954         0
63           955         1
64           956         1
65           957         1
66           958         1
67           959         0
68           960         1
69           961         1
70           962         1
71           963         0
72           964         1
73           965         1
74           966         1
75           967         1
76           968         0
77           969         1
78           970         0
79           971         1
80           972         1
81           973         0
82           974         0
83           975         0
84           976         0
85           977         0
86           978         1
87           979         1
88           980         1
89           981         1
90           982         1
91           983         0
92           984         1
93           985         0
94           986         1
95           987         0
96           988         1
97           989         0
98           990         1
99           991         0
100          992         1
101          993         0
102          994         0
103          995         0
104          996         1
105          997         0
106          998         0
107          999         0
108         1000         0
109         1001         0
110         1002         0
111         1003         1
112         1004         1
113         1005         1
114         1006         1
115         1007         0
116         1008         0
117         1009         1
118         1010         1
119         1011         1
120         1012         1
121         1013         0
122         1014         1
123         1015         0
124         1016         0
125         1017         0
126         1018         0
127         1019         0
128         1020         0
129         1021         0
130         1022         0
131         1023         1
132         1024         1
133         1025         0
134         1026         0
135         1027         0
136         1028         0
137         1029         0
138         1030         1
139         1031         0
140         1032         0
141         1033         1
142         1034         0
143         1035         0
144         1036         0
145         1037         0
146         1038         0
147         1039         0
148         1040         0
149         1041         0
150         1042         1
151         1043         0
152         1044         0
153         1045         1
154         1046         0
155         1047         0
156         1048         1
157         1049         1
158         1050         0
159         1051         1
160         1052         1
161         1053         1
162         1054         1
163         1055         0
164         1056         0
165         1057         1
166         1058         0
167         1059         0
168         1060         1
169         1061         1
170         1062         0
171         1063         0
172         1064         0
173         1065         0
174         1066         0
175         1067         1
176         1068         1
177         1069         0
178         1070         1
179         1071         1
180         1072         0
181         1073         0
182         1074         1
183         1075         0
184         1076         1
185         1077         0
186         1078         1
187         1079         0
188         1080         0
189         1081         0
190         1082         0
191         1083         0
192         1084         0
193         1085         0
194         1086         1
195         1087         0
196         1088         1
197         1089         1
198         1090         0
199         1091         1
200         1092         1
201         1093         1
202         1094         1
203         1095         1
204         1096         0
205         1097         0
206         1098         1
207         1099         0
208         1100         1
209         1101         0
210         1102         0
211         1103         0
212         1104         0
213         1105         1
214         1106         0
215         1107         0
216         1108         1
217         1109         0
218         1110         1
219         1111         0
220         1112         1
221         1113         0
222         1114         1
223         1115         0
224         1116         1
225         1117         1
226         1118         0
227         1119         1
228         1120         0
229         1121         0
230         1122         0
231         1123         1
232         1124         0
233         1125         0
234         1126         1
235         1127         0
236         1128         0
237         1129         0
238         1130         1
239         1131         1
240         1132         1
241         1133         1
242         1134         0
243         1135         0
244         1136         0
245         1137         0
246         1138         1
247         1139         0
248         1140         1
249         1141         1
250         1142         1
251         1143         0
252         1144         1
253         1145         0
254         1146         0
255         1147         0
256         1148         0
257         1149         0
258         1150         1
259         1151         0
260         1152         0
261         1153         0
262         1154         1
263         1155         1
264         1156         0
265         1157         0
266         1158         0
267         1159         0
268         1160         1
269         1161         0
270         1162         0
271         1163         0
272         1164         1
273         1165         1
274         1166         0
275         1167         1
276         1168         0
277         1169         0
278         1170         0
279         1171         0
280         1172         1
281         1173         1
282         1174         1
283         1175         1
284         1176         1
285         1177         0
286         1178         0
287         1179         0
288         1180         0
289         1181         0
290         1182         0
291         1183         1
292         1184         0
293         1185         0
294         1186         0
295         1187         0
296         1188         1
297         1189         0
298         1190         0
299         1191         0
300         1192         0
301         1193         0
302         1194         0
303         1195         0
304         1196         1
305         1197         1
306         1198         0
307         1199         1
308         1200         0
309         1201         1
310         1202         0
311         1203         0
312         1204         0
313         1205         1
314         1206         1
315         1207         1
316         1208         0
317         1209         0
318         1210         0
319         1211         0
320         1212         0
321         1213         0
322         1214         0
323         1215         0
324         1216         1
325         1217         0
326         1218         0
327         1219         0
328         1220         0
329         1221         0
330         1222         1
331         1223         1
332         1224         0
333         1225         1
334         1226         0
335         1227         0
336         1228         0
337         1229         0
338         1230         0
339         1231         1
340         1232         0
341         1233         0
342         1234         0
343         1235         1
344         1236         0
345         1237         1
346         1238         0
347         1239         1
348         1240         0
349         1241         1
350         1242         1
351         1243         0
352         1244         0
353         1245         0
354         1246         1
355         1247         0
356         1248         1
357         1249         0
358         1250         0
359         1251         1
360         1252         0
361         1253         1
362         1254         1
363         1255         0
364         1256         1
365         1257         0
366         1258         0
367         1259         1
368         1260         1
369         1261         0
370         1262         0
371         1263         1
372         1264         0
373         1265         0
374         1266         1
375         1267         1
376         1268         0
377         1269         0
378         1270         0
379         1271         0
380         1272         0
381         1273         0
382         1274         1
383         1275         1
384         1276         0
385         1277         1
386         1278         0
387         1279         0
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1